body {
  margin: 0;
  background: #000000;
  color: #FFFFFF;
  font-family: Montserrat, -apple-system, 'segoe ui', roboto;
}

button, input, textarea, h1, h2, h3, h4, h5 {
  font-family: Montserrat, -apple-system, 'segoe ui', roboto;
}

#page .text-light {
  font-weight: 300;
}

#page .text-bold {
  font-weight: 700;
}

#page .menu {
  position: fixed;
  top: calc((100% - 386px) / 2);
  right: 1vw;
}

#page .menu.open {
  right: 0;
}

#page .menu .menu__chapter-option {
  padding: 12px 0;
  padding-left: 10px;
  border-left: 2px solid #444444;
  color: #FFFFFF;
  cursor: pointer;
}

#page .menu .menu__chapter-option.active {
  color: #999999;
}

#page .menu .menu__chapter-option.active, #page .menu .menu__chapter-option:hover {
  color: #999999;
  border-color: #FFFFFF;
}

#page .menu .menu__chapter-option > span:nth-of-type(1) {
  font-size: 14px;
}

#page .menu .menu__chapter-option > span:nth-of-type(2) {
  margin-left: 5px;
  font-size: 17px;
}

#page .menu .menu__contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 0;
  border-left: 2px solid #444444;
}

#page .menu .menu__contact-info a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px 0;
  padding-left: 10px;
}

#page .menu .menu__contact-info .menu__contact-info-mail-popup {
  position: fixed;
  top: 0;
  height: 0;
  display: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
}

#page .btn-toggle-menu {
  display: none;
  width: 45px;
  height: 45px;
  position: fixed;
  top: 2vh;
  right: 2vh;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#page .btn-toggle-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #FFFFFF;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#page .btn-toggle-menu span:nth-child(1) {
  top: 0px;
}

#page .btn-toggle-menu span:nth-child(2), #page .btn-toggle-menu span:nth-child(3) {
  top: 13px;
}

#page .btn-toggle-menu span:nth-child(4) {
  top: 27px;
}

#page .btn-toggle-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#page .btn-toggle-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#page .btn-toggle-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#page .btn-toggle-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#page .chapters.close {
  visibility: hidden;
}

#page .chapter {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 30px;
}

#page .chapter > .title {
  font-size: 50px;
  font-weight: 800;
}

#page .top.chapter .personal-image img {
  height: 140px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

#page .top.chapter .firstname {
  margin-top: 50px;
}

#page .top.chapter .firstname, #page .top.chapter .lastname {
  font-size: 100px;
  font-weight: 800;
}

#page .top.chapter .seperator {
  margin-top: 15px;
  width: 100px;
  height: 2px;
  background-color: #FFFFFF;
}

#page .top.chapter .title {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
}

#page .top.chapter .btn-download-cv {
  margin-top: 60px;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px dashed #FFFFFF;
  background-color: transparent;
  padding: 4px 8px;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: background 500ms;
  transition: background 500ms;
}

#page .top.chapter .btn-download-cv:hover {
  background-color: #FFFFFF;
  color: #000000;
}

#page .about.chapter p {
  width: 65vw;
  font-size: 20px;
}

#page .skills.chapter .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 65vw;
  margin-top: 50px;
}

#page .skills.chapter .technologies .technologies__item {
  margin: 10px 10px;
}

#page .skills.chapter .technologies .technologies__item .label {
  font-size: 15px;
  font-weight: 700;
}

#page .skills.chapter .technologies .technologies__item .bar {
  position: relative;
  width: 250px;
  height: 3px;
  margin-top: 5px;
  background-color: #333333;
}

#page .education.chapter .records {
  width: 65vw;
  margin-top: 50px;
}

#page .education.chapter .records .records__item > * {
  padding: 3px 0;
  padding-left: 10px;
  border-left: 2px solid #999999;
}

#page .education.chapter .records .records__item .date {
  font-size: 15px;
  font-weight: 300;
}

#page .education.chapter .records .records__item .title {
  font-size: 20px;
  font-weight: 700;
}

#page .education.chapter .records .records__item .title span {
  font-weight: 300;
}

#page .education.chapter .records .records__item .name {
  font-size: 20px;
  font-weight: 400;
}

#page .education.chapter .records .records__item .place {
  font-size: 13px;
  font-weight: 300;
}

#page .education.chapter .records .seperator {
  height: 100px;
  border-left: 2px solid #333333;
}

#page .education.chapter .records .start-point {
  width: 4px;
  height: 4px;
  background-color: #999999;
  margin-left: -1px;
}

#page .experience.chapter .records {
  width: 65vw;
  margin-top: 50px;
}

#page .experience.chapter .records .records__item > * {
  padding: 3px 0;
  padding-left: 10px;
  border-left: 2px solid #999999;
}

#page .experience.chapter .records .records__item .date {
  font-size: 15px;
  font-weight: 300;
}

#page .experience.chapter .records .records__item .title {
  font-size: 20px;
  font-weight: 400;
}

#page .experience.chapter .records .records__item .place {
  font-size: 13px;
  font-weight: 300;
}

#page .experience.chapter .records .seperator {
  height: 100px;
  border-left: 2px solid #333333;
}

#page .experience.chapter .records .start-point {
  width: 4px;
  height: 4px;
  background-color: #999999;
  margin-left: -1px;
}

#page .projects.chapter .records {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  width: 65vw;
}

#page .projects.chapter .records .records__item {
  min-width: 215px;
  margin: 30px;
}

#page .projects.chapter .records .records__item .image {
  text-align: center;
}

#page .projects.chapter .records .records__item .image img {
  width: 200px;
}

#page .projects.chapter .records .records__item .name {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-top: 3px;
}

#page .projects.chapter .records .records__item .name a {
  text-decoration: none;
  color: #FFFFFF;
}

#page .projects.chapter .records .records__item .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 7px;
}

#page .projects.chapter .records .records__item .technologies > div {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
}

#page .projects.chapter .records .records__item .technologies .seperator {
  width: 11px;
  height: 1px;
  background-color: #999999;
  margin: 0 5px;
  margin-top: 2px;
}

#page .contact.chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#page .contact.chapter .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#page .contact.chapter .info .info__title {
  font-size: 16px;
  font-weight: 800;
  color: #888888;
  margin: 0;
  margin-bottom: 25px;
}

#page .contact.chapter .info a {
  margin: 5px 0;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
}

#page .contact.chapter .message {
  width: 100%;
  margin-top: 50px;
}

#page .contact.chapter .message .message__title {
  font-size: 30px;
  font-weight: 800;
}

#page .contact.chapter .message .message__field {
  margin: 25px 0;
}

#page .contact.chapter .message .message__field .label {
  font-size: 14px;
  font-weight: 700;
}

#page .contact.chapter .message .message__field input, #page .contact.chapter .message .message__field textarea {
  outline: none;
  border: none;
  border-bottom: 2px solid #666666;
  padding: 10px 0;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
  min-width: 40vw;
  width: 500px;
  max-width: 90%;
  cursor: not-allowed;
}

#page .contact.chapter .message .message__field textarea {
  height: 200px;
}

#page .contact.chapter .message .message__btn-send {
  outline: none;
  border: 2px solid #FFFFFF;
  border-radius: 7px;
  padding: 15px 40px;
  margin: 10px 0;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
}

#page .footer {
  margin-top: 100px;
}

#page .footer a {
  text-decoration: none;
  color: #666;
  font-weight: 300;
}

@media (max-width: 810px) {
  #page .menu {
    right: -999vw;
  }
  #page .menu .menu__chapter-option > span:nth-of-type(1) {
    font-size: 20px;
  }
  #page .menu .menu__chapter-option > span:nth-of-type(2) {
    margin-left: 5px;
    font-size: 25px;
  }
  #page .btn-toggle-menu {
    display: block;
  }
  #page .chapter .title {
    font-size: 30px;
    font-weight: 800;
  }
  #page .top.chapter .personal-image img {
    height: 100px;
  }
  #page .top.chapter .firstname, #page .top.chapter .lastname {
    font-size: 50px;
  }
  #page .top.chapter .title {
    font-size: 12px;
  }
  #page .about.chapter p {
    font-size: 15px;
  }
}
/*# sourceMappingURL=index.css.map */