body {
  margin: 0;
  background: #000000;
  color: #FFFFFF;
  font-family: Montserrat, -apple-system, 'segoe ui', roboto;
}

button, input, textarea, h1, h2, h3, h4, h5 {
  font-family: Montserrat, -apple-system, 'segoe ui', roboto;
}

#page {
  .text-light {
    font-weight: 300;
  }

  .text-bold {
    font-weight: 700;
  }

  .menu {
    position: fixed;
    top: calc((100% - 386px) / 2); 
    right: 1vw;

    &.open {
      right: 0;
    }

    .menu__chapter-option {
      padding: 12px 0;
      padding-left: 10px;
      border-left: 2px solid #444444;
      color: #FFFFFF;
      cursor: pointer;

      &.active {
        color: #999999;
      }

      &.active, &:hover {
        color: #999999;
        border-color: #FFFFFF;
      }

      & > span:nth-of-type(1) {
        font-size: 14px;
      }

      & > span:nth-of-type(2) {
        margin-left: 5px;
        font-size: 17px;
      }
    }

    .menu__contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px 0;
      border-left: 2px solid #444444;

      a {
        text-decoration: none;
        color: #FFFFFF;
        padding: 5px 0;
        padding-left: 10px;
      }

      .menu__contact-info-mail-popup {
        position: fixed;
        top: 0;
        height: 0;
        display: none;
        cursor: pointer;
        text-decoration: underline;
        font-size: 12px;
      }
    }
  }

  .btn-toggle-menu {
    display: none;
    width: 45px;
    height: 45px;
    position: fixed;
    top: 2vh;
    right: 2vh;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #FFFFFF;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    span:nth-child(1) {
      top: 0px;
    }
    
    span:nth-child(2), span:nth-child(3) {
      top: 13px;
    }
    
    span:nth-child(4) {
      top: 27px;
    }
    
    &.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    
    &.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    &.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    
    &.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }

  .chapters.close {
    visibility: hidden;
  }

  .chapter {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;

    & > .title {
      font-size: 50px;
      font-weight: 800;
    }
  }

  .top.chapter {
    
    .personal-image {

      img {
        height: 140px;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
      }
    }

    .firstname {
      margin-top: 50px;
    }

    .firstname, .lastname {
      font-size: 100px;
      font-weight: 800;
    }

    .seperator {
      margin-top: 15px;
      width: 100px;
      height: 2px;
      background-color: #FFFFFF;
    }

    .title {
      margin-top: 30px;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .about.chapter {

    p {
      width: 65vw;
      font-size: 20px;
    }
  }

  .skills.chapter {
    
    .technologies {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      width: 65vw;
      margin-top: 50px;

      .technologies__item {
        margin: 10px 10px;

        .label {
          font-size: 15px;
          font-weight: 700;
        }
  
        .bar {
          position: relative;
          width: 250px;
          height: 3px;
          margin-top: 5px;
          background-color: #333333;
        }
      }
    }
  }

  .education.chapter {

    .records {
      width: 65vw;
      margin-top: 50px;

      .records__item {

        & > * {
          padding: 3px 0;
          padding-left: 10px;
          border-left: 2px solid #999999;
        }

        .date {
          font-size: 15px;
          font-weight: 300;
        }

        .title {
          font-size: 20px;
          font-weight: 700;

          span {
            font-weight: 300;
          }
        }

        .name {
          font-size: 20px;
          font-weight: 400;
        }

        .place {
          font-size: 13px;
          font-weight: 300;
        }
      }

      .seperator {
        height: 100px;
        border-left: 2px solid #333333;
      }

      .start-point {
        width: 4px;
        height: 4px;
        background-color: #999999;
        margin-left: -1px;
      }
    }
  }

  .experience.chapter {

    .records {
      width: 65vw;
      margin-top: 50px;

      .records__item {

        & > * {
          padding: 3px 0;
          padding-left: 10px;
          border-left: 2px solid #999999;
        }

        .date {
          font-size: 15px;
          font-weight: 300;
        }

        .title {
          font-size: 20px;
          font-weight: 400;
        }

        .place {
          font-size: 13px;
          font-weight: 300;
        }
      }

      .seperator {
        height: 100px;
        border-left: 2px solid #333333;
      }

      .start-point {
        width: 4px;
        height: 4px;
        background-color: #999999;
        margin-left: -1px;
      }
    }
  }

  .projects.chapter {

    .records {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 50px;
      width: 65vw;

      .records__item {
        min-width: 215px;
        margin: 30px;

        .image {
          text-align: center;
          
          img {
            width: 200px;
          }
        }

        .name {
          font-size: 15px;
          font-weight: 400;
          text-align: center;
          margin-top: 3px;

          a {
            text-decoration: none;
            color: #FFFFFF;
          }
        }

        .technologies {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 7px;

          & > div {
            color: #999999;
            font-size: 12px;
            font-weight: 300;
          }

          .seperator {
            width: 11px;
            height: 1px;
            background-color: #999999;
            margin: 0 5px;
            margin-top: 2px;
          }
        }
      }
    }
  }

  .contact.chapter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .info__title {
        font-size: 16px;
        font-weight: 800;
        color: #888888;
        margin: 0;
        margin-bottom: 25px;
      }

      a {
        margin: 5px 0;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 300;
      }
    }

    .message {
      margin-top: 50px;

      .message__title {
        font-size: 30px;
        font-weight: 800;
      }

      .message__field {
        margin: 25px 0;

        .label {
          font-size: 14px;
          font-weight: 700;
        }

        input, textarea {
          outline: none;
          border: none;
          border-bottom: 2px solid #666666;
          padding: 10px 0;
          color: #FFFFFF;
          font-size: 15px;
          font-weight: 400;
          background-color: transparent;
          min-width: 40vw;
          width: 500px;
          max-width: 90%;
          cursor: not-allowed;
        }

        textarea {
          height: 200px;
        }
      }

      .message__btn-send {
        outline: none;
        border: 2px solid #FFFFFF;
        border-radius: 7px;
        padding: 15px 40px;
        margin: 10px 0;
        background-color: transparent;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

  .footer {
    margin-top: 100px;

    a {
      text-decoration: none;
      color: #666;
      font-weight: 300;
    }
  }
}

@media (max-width: 810px) {
  #page {

    .menu {
      right: -999vw;

      .menu__chapter-option {

        & > span:nth-of-type(1) {
          font-size: 20px;
        }
  
        & > span:nth-of-type(2) {
          margin-left: 5px;
          font-size: 25px;
        }
      }
    }

    .btn-toggle-menu {
      display: block;
    }

    .chapter {
  
      .title {
        font-size: 30px;
        font-weight: 800;
      }
    }

    .top.chapter {

      .personal-image {

        img {
          height: 100px;
        }
      }
      
      .firstname, .lastname {
        font-size: 50px;
      }

      .title {
        font-size: 12px;
      }
    }

    .about.chapter {

      p {
        font-size: 15px;
      }
    }
  }
}